.AboutHeader {
    position: relative;
}

.AboutHeader img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.AboutHeader .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.3;
}