:root{
    --main: #f10b0b;
}
*{
    transition: 0.2s;

}

*::selection{
    background-color: var(--main);
    color: #fff !important;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background:var(--main);
}

html::-webkit-scrollbar-track{
    background: #000;
}